$color-primary: #540000; // Глубокий темно-красный
$color-secondary: #1a1a1a; // Очень темный серый, почти черный

$color-brand-1: #c06030; // Темный оранжевый
$color-brand-2: #007a47; // Темный зеленый

$color-dark-1: #1c2025; // Темно-синий/серый
$color-dark-2: #32373d; // Средне-темный серый
$color-light-1: #7a7a7a; // Темно-серый
$color-light-2: #bfbfbf; // Светло-серый
$color-light-3: #d0d3d4; // Светло-серый с оттенком синего
